html {
    font-size: 10px;
}

div#quick {
    display: none;
}

body {
    background-color: #111;
    color: white;
}

div#gnb {
    background-color: rgb(146, 16, 20);
}

/*div#gnb 시작*/
div#gnb {
    /*padding-bottom: 5px;*/
    /*
    수직 높이 조절을 위해
    --> div#gnb의 padding값과 div#gnb div.wrap80 ul의 
    line-height 값 중 선택해서 높이를 맞춰주면 된다.
    */
}

div#gnb div.wrap80 {}

div#gnb div.wrap80 ul {
    float: right;
    line-height: 22px;
}

div#gnb div.wrap80 ul li {
    float: left;
}

div#gnb div.wrap80 ul li:after {
    content: "|";
    line-height: 10px;
    font-size: 10px;
}

div#gnb div.wrap80 ul li:last-child:after {
    display: none;
}

div#gnb div.wrap80 ul li a {
    font-size: 0.9rem;
    padding: 0 10px;
}

section,
article,
div#news,
div#m_news,
div#thorWrap,
div#captain,
div#character,
div#popup,
div#m_popup,
footer {
    transform: translateY(4em);
    transition: all .8s ease;
}

/*header 시작*/
header {
    width: 100% !important;
    position: relative;
    z-index: 555;
}

header h1 {
    margin: 5vw auto;
    width: 35%;
    float: none;
}

header h1 a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

header h1 a img {
    width: 100%;
}

header nav {
    display: none;
}

header div#m_nav {
    display: block;
    width: 10%;
    float: left;
    position: absolute;
    top: 2vw;
    left: 8%;
}

header div#m_nav img {
    width: 100%;
}

/*section 시작*/
section {
    clear: both;
    width: 100%;
    height: 57vw;
}

section h2 {
    display: none;
}

section ul {}

section ul li {}

section ul li img {
    width: 100%;
}

/*article 시작*/
article {}

article h2,
div#news h2,
div#popup h2 {
    margin-bottom: 15px;
    font-size: 1.8rem;
}

article h2 + span.hr,
div#news h2 + span.hr,
div#popup h2 + span.hr {
    margin-bottom: 15px;
}

article div.wrap {
    display: block;
}

article div.wrap figure {
    position: relative;
    overflow: hidden;
}

article div.wrap figure:nth-child(2) {
    margin: 3vw 0;
}

article div.wrap figure figcaption {
    position: absolute;
    left: 0;
    top: 25vw;
    width: 70%;
    height: 100%;
    /*opacity: 0.5;*/
    /*opacity 속성은 값을 기입하면, 
    자식요소에 들어있는 모든 것들이 적용된다. 
    따라서 따로 색상 opacity 값을 조절할 때는 rgba(r,g,b,a) 
    속성값으로 사용해야 한다.*/
    line-height: 30px;
    background-color: rgba(146, 16, 20, 0.7);
    display: block;
    padding: 0 15%;
    font-size: 1.3rem;
}

article div.wrap figure figcaption span {
    font-weight: 600;
    line-height: 70px;
    display: block;
    margin-bottom: 1vw;
}

article div.wrap figure img {
    width: 100%;
    height: 100%;
}

article div.wrap figure img + figcaption {
    text-align: center;
}

/*div#news 시작*/
div#news,
div#popup {
    margin-top: 10vw;
}

div#news div.fl,
div#news div.fr {
    width: 100%;
    margin: 10px 0;
}

div#news div.fl div {}

div#news div.fl > ul {
    overflow: hidden;
    padding-top: 0.8vw;
}

div#news div.fl > ul > li {
    float: left;
    width: 30%;
    height: 7.5vw;
    background-color: #530d10;
    text-align: center;
    line-height: 7.5vw;
    border-radius: 10px 10px 0 0;
}

div#news div.fl > ul > li:nth-child(2) {
    background-color: #921014;
}

div#news div.fl > ul > li:last-child {
    background-color: #cb4045;
}

div#news div.fl div ul li {
    line-height: 30px;
    margin: 15px 0 15px;
}

div#news div.fl > ul > li:hover {
    margin-top: -0.8vw;
    height: 8.3vw;
}

div#news div.fl > ul > li > a {
    font-weight: 500;
    text-shadow: 0px 0px 1px white;
    font-size: 1.2rem;
    display: block;
}

div#news div.fl > ul > li:first-child > a {
    padding-left: 0;
}

div#news div.fl div ul li {
    border-bottom: 1px solid #921014;
    margin: 2.2vw 0;
}

div#news div.fl div ul li a {
    font-size: 1.3rem;
}

div#news div.fr h3 {
    font-size: 1.7rem;
    font-weight: 500;
    padding-top: 0.8vw;
}

div#news div.fr div#gallery {
    width: 100%;
    margin-top: 25px;
    box-sizing: border-box;
}

div#news div.fr div#gallery ul {
    width: 400%;
}

div#news div.fr div#gallery ul li {
    overflow: hidden;
    float: left;
    width: 25%;
    text-align: center;
}

div#news div.fr div#gallery ul li img {
    width: 150%;
    margin-left: -25%;
}

div#news div.fr div#btnWrap {
    position: relative;
    margin: 2vw 0;
    height: 6vw;
}

div#news div.fr div#btnWrap button {
    border: 0;
    width: 30px;
    height: 30px;
    padding: 1px;
    background-color: transparent;
    cursor: pointer;
}

div#news div.fr div#btnWrap button:focus {
    outline: none;
}

div#news div.fr div#btnWrap button img {
    width: 100%;
}

div#news div.fr div button#left {
    position: absolute;
    left: 0;
    top: 0;
}

div#news div.fr div button#right {
    position: absolute;
    right: 0;
    top: 0;
}

/*div#thorWrap 시작*/
div#thorWrap div#thor {
    height: 120vw;
    margin: 4vw auto 7vw;
    /*height: 50vw;*/
}

div#thorWrap div#thor div {
    position: relative;
    padding: 12vw 0;
}

div#thor div h3 {
    text-align: center;
    font-size: 5rem;
    letter-spacing: 2rem;
}

div#thorWrap div#thor div h3 span {
    display: inline-block;
    font-size: 2.4rem;
    margin: 0;
}

div#thorWrap div#thor div h3 > span:first-child {
    margin-right: 10%;
}

div#thorWrap div#thor div h3 span:last-child {
    letter-spacing: 0;
}

div#thorWrap div#thor div img {
    width: 15rem;
    height: 18rem;
    z-index: 10;
    animation: hammer 5s infinite;
}

@keyframes topdown {
    0% {
        top: 40%;
    }

    50% {
        top: 60%;
    }

    100% {
        top: 40%;
    }
}

@keyframes hammer {
    0% {
        transform: rotate(60deg) translate(-12.5rem, -15rem);
    }

    30% {
        transform: rotate(0deg) translate(-12.5rem, -15rem);
    }

    100% {
        transform: rotate(0deg) translate(-12.5rem, -15rem);
    }
}

div#thorWrap div#thor p {
    display: none;
}

div#thor p,
div#thor > span {
    width: 50%;
    margin: auto;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 200;
    line-height: 2rem;
}

div#thor > span#name,
div#thor > span.red {
    display: block;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.3rem;
}

div#thorWrap div#thor span#name {
    margin-top: 3vw;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 500;
}

div#thorWrap div#thor span.red {
    font-size: 1.7rem;
    color: #921014;
}

div#thorWrap div#thor span#roundBox {
    display: block;
    text-align: center;
    font-size: 1.2rem;
    width: 20%;
    padding: 1rem 2.5rem;
    margin: 5vw auto 8vw;
    background-color: #921014;
    border-radius: 3rem;
    cursor: pointer;
}

div#light {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50vw;
    animation: flash 3s infinite;
}

@keyframes flash {
    0% {
        background-color: white;
        opacity: 0;
    }

    41% {
        background-color: white;
        opacity: 0;
    }

    43% {
        background-color: white;
        opacity: 0.6;
    }

    44% {
        background-color: white;
        opacity: 0.2;
    }

    46% {
        background-color: white;
        opacity: 0.8;
    }

    50% {
        background-color: white;
        opacity: 0;
    }

    100% {
        background-color: white;
        opacity: 0;
    }
}

/*div#captain 시작*/
div#captain div.fl{
    width: 60%;
}

div#captain div.fl span{
    font-size: 1.5rem;
}

div#captain div.fl h3{
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 1rem;
}

div#captain div.fl p{
    margin: 2rem 0;
    line-height: 2.5rem;
    font-size: 1.4rem;
    animation: show 4s steps(60, end);
}

div#captain div.fr{
    width: 40%;
    height: 30vw;
    overflow: hidden;
}

div#captain div.fr div#blackBox{
    width: 30%;
    height: 30vw;
    background-color: #111;
    position: relative;
    z-index: 100;
}

div#captain div.fr div#redBox{
    width: 50%;
    height: 30vw;
    background-color: #921014;
    margin-right: 20%;
}

div#captain div.fr div.imgWrap{
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 80%;
    transition: all 1s;
}

div#captain:hover div.fr div.imgWrap{
    right: 0;
}

div#captain div.fr div.imgWrap img{
    width: 100%;
}


/*div#character 시작*/
div#character{
    padding: 10vw 0 5vw;
}

div#character img{
    width: 100%;
}

div#character h3 {
    margin-bottom: 10vw;
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 1rem;
}


div#character > div {
    width: 100%;
}

div#character > div.fl{
    overflow: hidden;
}

div#character div.fl > p {
    display: none;
}

div#character > div.fl > div.fl{
    width: 40%;
}

div#character > div.fl > div.fl div.imgWrap:first-child{
    width: 70%;
}

div#character > div.fl > div.fl div.imgWrap:last-child{
    width: 80%;
    margin-top: 3rem;
}

div#character > div.fl > div.fr{
    width: 60%;
    margin-top: 2rem;
}

div#character > div.fr {
    margin: 5vw 0;
}

div#character > div.fr div.imgWrap:first-child {
    margin: 5vw auto;
    width: 100%;
}

div#character > div.fr div.imgWrap:nth-child(2){
    width: 50%;
    margin-right: 10%;
}

div#character > div.fr div.imgWrap:last-child{
    width: 40%;
}

/*div#m_popup 시작
    div#popup{
        display: none;
    }
    */
div#popup ul li img:first-child {
    display: none;
}

div#popup ul li img:last-child {
    display: block;
}

div#m_popup {

    margin-top: 10vw;
}

div#m_popup h2 {
    margin: 30px 0 15px;
}

div#m_popup span.hr {
    margin-bottom: 15px;
}

/*div#sns 시작*/
footer div.fl {
    width: 100%;
    float: none !important;
    border-bottom: 0.5px solid white;
    padding: 5vw 0;
}

footer div.fl ul {
    float: left;
    width: 30%;
}

footer div.fl ul + p {
    display: none;
}

footer div.fl p#m_p {
    display: block;
    width: 70%;
    float: right;
    font-size: 1.3rem;
    text-align: right;
    color: #aaa;
}

footer div.fl ul li {
    float: none;
    text-align: left;
    line-height: 30px;
}

footer div.fl ul li a {
    padding: 0;
}

footer div.fr {
    clear: both;
    float: none !important;
    width: 80%;
    margin: 5vw auto;
    padding-bottom: 25vw;
}

footer div.fr div.footerBtn button#ltBtn {
    left: -10px;
}

footer div.fr div.footerBtn button#gtBtn {
    right: -10px;
}

footer div.fr div.aniWrap {
    margin: auto;
}
