@media only screen and (min-width: 480px) {
  html {
    font-size: 12px;
  }

  /*header*/
  header {
    padding: 0 10%;
  }

  header h1 {
    width: 20%;
    margin: 3rem auto 0;
  }

  /*section*/
  section {
    height: 52vw;
  }
  
  /*div#thorWrap*/
  div#thorWrap {
    margin: 10vw 0;
  }

  div#thorWrap div#thor div h3 > span:first-child {
    margin-right: 20%;
  }

  div#thorWrap div#thor div img {
    width: 20rem;
    height: 23rem;
    top: 50%;
  }

  div#thor p,
  div#thor > span {
    width: 100%;
  }

  div#thorWrap div#thor p {
    display: block;
  }

  div#thorWrap div#thor span#name {
    margin-top: 0;
  }

  div#thorWrap div#thor span#roundBox {
    width: 20%;
  } 

}
