*{
    margin: 0;
    padding: 0;
}

ul, ol, li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #333;
}

div#wrap{
    width: 1000px;
    background-image: url(../img/bgImg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    margin: auto;
}

div#pdf{
    position: absolute;
    right: 10%;
    top: 100px;
    background-color: violet;
    padding: 1vw 1%;
    transform: rotate(20deg);
}

div#gif{
    margin-left: 10%;
    width: 25%;
    float: left;
}

img.gif{
    width: 100%;
}

div#name{
    width: 55%;
    float: right;
}

div#name h1{
    color: white;
    font-size: 4em;
    padding: 100px 0 30px 0;
}

div#name div{
    float: left;
    color: white;
    margin-right: 10%;
    padding-left: 2%;
    border-left: 1px solid white;
}

div#name div h5{
    font-size: 1.2em;
}

div#clock{
    clear: both;
    width: 50%;
    float: right;
    margin-top: -400px;
}

div#clock img#clock01{
    width: 40%;
    float: left;
    margin-right: 7%;
}

div#clock img#clock02{
    margin-top: 20px;
    width: 50%;
}

div#history{
    clear: both;
    overflow: hidden;
}

div#history img{
    width: 91%;
    float: right;
}

div#certificate{
    width: 50%;
    position: relative;
    margin-left: 5%;
    cursor: pointer;
    margin-bottom: 550px;
    margin-top: -200px;
    clear: both;
}

div#certificate img{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

div#certificate img:nth-child(2){
    opacity: 0;
    overflow: hidden;
    transition: all .5s;
}

div#certificate:hover img:nth-child(2){
    opacity: 1;
}

div#skills{
    clear: both;
    width: 60%;
    margin: auto;
}

div#skills img{
    width: 100%;
}

div#happyThings{
    width: 70%;
    margin: auto;
    padding-bottom: 180px;
}

div#happyThings h3{
    padding: 30px 0;
    border-bottom: 1px solid #5f1482;
    margin: 70px 0;
    font-size: 1.7em;
    font-weight: 500;
}

div#happyThings ul{
    overflow: hidden;
}

div#happyThings ul li{
    width: 25%;
    border-radius: 50%;
    float: left;
    margin: 0 4.1666%;
    overflow: hidden;
    background-image: radial-gradient(circle, rgba(166,93,210,.5), rgba(166,93,210,0));
}

div#happyThings ul li img{
    width: 100%;
    transition: all 0.5s;
}

div#happyThings ul li:hover img{
    transform: scale(1.1);
}